body, html {height: 100%; width:100%; margin:0; padding:0;}

body {
  font-size: 100%;
}

.myCarousel {
  object-fit: fill;
  position: absolute;
  width: 90%;
  min-height: 100%;
  background-color: inherit;
}

#buttons {
  position: relative;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: inherit;
  order: 3;
}

.ptext {
  margin-bottom: 20%
  order: 1;
}

.quote-box {
  border-radius: 3px;
  position: relative;
  margin: 20% auto 10% auto;
  width: 450px;
  padding: 50% 50px;
  display: table;
  background-color: inherit;
  align-items: stretch;
  order: 2;
}

.bodi {

  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/flower-shower.jpeg");
  /*min-height: 100%;*/
  background-attachment: fixed;
}

.quote-item {
  display: none;
  font-size: 1.5em;
  font-family: 'Shadows Into Light Two', cursive;
  color:#fff;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
