body, html {height: 100%; width:100%; margin:0; padding:0;}

#myCarousel {
  object-fit: fill;
  position: absolute;
  width: 90%;
  min-height: 100%;
  background-color: inherit;
}

#buttons {
  position: relative;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.ptext {
  margin-bottom: 20%
}

.quote-box {
  border-radius:3px;
  position: inherit;
  margin:20% auto 20% auto;
  width:450px;
  padding:50% 50px;
  display:table;
  background-color:#fff;

}

.bodi {

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/beach-palms.jpg");
  min-height: 100%;
  background-attachment: fixed;
}

.quote-item {
  display: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
