body, html {height: 100%; width:100%; margin:0; padding:0;}

body {
  font-size: 100%;
}

.bodi {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  float:left;
  width:100%;

  margin: 0;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  background-image: url("/images/flower-shower-fade.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.head {
  font-family: 'Playfair Display SC', serif;
  font-size:24px;
}


#footer-div {
  padding: 12px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: inherit;
  order: 3;
  z-index:1
}

.head, .bottom {
  height: 0.125vh;
}

#mid-div {
  height: 0.75vh;
  width: 80vh;

  flex-grow: 2;
  order: 2;

  overflow: hidden;
  display: inline-block;
  width: auto;

  text-align:center

}

.quote-item {
  display: none;
  font-size: 1.75em;
  font-family: 'Shadows Into Light Two', cursive;
  color:#fff;

}

.quote-box {
  position:relative;;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%)
}
